.search-categories {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    background-color: #FAFAFA;
}
.search-button:hover {
    background-color: #fff !important;
}
.search-button {
    display: flex;
    align-self: center;
}
.variant-button input {
    text-align: center;
}