.search-categories {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-button {
    display: flex;
    align-self: center;
}

.variant-button input {
    text-align: center;
}