.search-input {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.home-search {
    display: flex;
    justify-content: space-between !important;
    /* margin-left: 10%; */
}
.blog-left {
    display: flex;
}


label {
    position: relative;
    cursor: pointer;
  }
  
  .search-icon:before {
    position: absolute !important;
    left: 16px !important;
    top: 16px !important;
    right: 16px !important;
    bottom: 0px !important;
    font-family: "FontAwesome" !important;
    color: #828e9e !important;
  }
  
  .fff {
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 1em;
    transition: 0.5s;
    color: #a3acc4;
    background-color: #FAFAFA;
    caret-color: #828e9e;
  }
  
  .fff:hover {
    cursor: pointer;
  }
  
  .fff:focus {
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 5px 25px -5px rgba(215, 215, 215, 100%);
  }
  
  .fff:focus ~ .search-icon {
    transition: 0.1s;
    opacity: 0;
  }
  .pag-section {
    background-color: #fff !important;
  }
  .pag-section:focus {
    background-color: red !important;
    color: white !important;
  }
  .scroll-button {
    display: block;
  }