.sign-in {
    padding: 20px;
    margin-top: 100px !important;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

.sign-in form div input {
    border-radius: 10px;
}

.sign-in form button {
    border-radius: 10px;
    background-color: #343A40;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}