.form-img {
    height: 250px;
    object-fit: cover;
    
}

.form-style {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.all-form {
    width: 100%;
    border: none !important;
}

.all-form h4, p {
    margin-left: 10px;
}


.ramka{
    width: 100%;
    position: absolute;
}
.super-ramka {
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position: relative;
}

.all-posts {
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;

    width: 100%;
    min-height: auto;
}

.post-details {
    width: 60%;
}
