.form-img {
    height: 250px;
    object-fit: cover;
    flex-grow: 2;

    
}

.form-style {
    width: 100%;
    margin-top: 30px;
    display: flex;
    background-color: #fff;
}

.card{
    
    display: flex !important;
}
.all-form {
    width: 100%;
    border: none !important;
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    flex-grow: 4;
}
.all-posts {
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: auto;
}

.post-details {
    width: 60%;
}
.jjj {
    align-content: flex-end !important;
}