.sign-up {
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    background-color: #FAFAFA;
}
.sign-up-page {
    padding-top: 10vh;
    width: 100%;
    min-height: 88vh;
    background-color: #097BBE;
}

.sign-up form div input {
    border-radius: 10px;
}