.sign-up {
    background-color: #838996;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
    width: 100%;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

.sign-up form div input {
    border-radius: 10px;
}

.sign-up form button {
    border-radius: 10px;
    background-color: #343A40;
}