.admin-add-form {
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}
.admin-button {
    display: flex;
}

.admin-right-button {
    margin-left: 20px;
}