.xxx {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 500px;
  background-color: #C7C7C7;
}

.footer-header {
  background-color: #C1C1C1;
}
.search-foot {
  width: 130px;
}
.search-footer-t {
  width: 180px;
}

@media (max-width: 600px) {
  footer > ul > li {
    background-color: black !important;
  }
}